.evaluate {
  margin-inline: auto;
  background-color: #d1d1d1;
  padding: 40px 20px;
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  .register-button {
    text-align: right;
    margin-block: 12px;
  }
  table {
    width: 100%;
    td,
    th {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #ddd;
    }
  }
}
