.signup {
  height: fit-content;
  max-width: 780px;
  margin: auto;
  background-color: #d1d1d1;
  padding: 40px 20px;
  border-radius: 20px;
  h1 {
    margin-bottom: 16px;
  }
  .signup-form {
    display: grid;
    gap: 8px;
    input {
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #000;
    }
    button {
      margin-top: 12px;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #000;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .signin {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 12px;
  }
}